<option value="Ariana, Tunisie" <%= data.State === 'Ariana, Tunisie' ? 'selected' : '' %>>Ariana, Tunisie</option>
<option value="Béja, Tunisie" <%= data.State === "Béja, Tunisie" ? 'selected' : '' %>>Béja, Tunisie</option>
<option value="Ben Arous, Tunisie" <%= data.State === 'Ben Arous, Tunisie' ? 'selected' : '' %>>Ben Arous, Tunisie</option>
<option value="Bizerte, Tunisie" <%= data.State === 'Bizerte, Tunisie' ? 'selected' : '' %>>Bizerte, Tunisie</option>
<option value="Gabès, Tunisie" <%= data.State === 'Gabès, Tunisie' ? 'selected' : '' %>>Gabès, Tunisie</option>
<option value="Gafsa, Tunisie" <%= data.State === 'Gafsa, Tunisie' ? 'selected' : '' %>>Gafsa, Tunisie</option>
<option value="Jendouba, Tunisie" <%= data.State === 'Jendouba, Tunisie' ? 'selected' : '' %>>Jendouba, Tunisie</option>
<option value="Kairouan, Tunisie" <%= data.State === 'Kairouan, Tunisie' ? 'selected' : '' %>>Kairouan, Tunisie</option>
<option value="Kasserine, Tunisie" <%= data.State === 'Kasserine, Tunisie' ? 'selected' : '' %>>Kasserine, Tunisie</option>
<option value="Kebili, Tunisie" <%= data.State === 'Kebili, Tunisie' ? 'selected' : '' %>>Kebili, Tunisie</option>
<option value="Le Kef, Tunisie" <%= data.State === 'Le Kef, Tunisie' ? 'selected' : '' %>>Le Kef, Tunisie</option>
<option value="Mahdia, Tunisie" <%= data.State === 'Mahdia, Tunisie' ? 'selected' : '' %>>Mahdia, Tunisie</option>
<option value="Manouba, Tunisie" <%= data.State === 'Manouba, Tunisie' ? 'selected' : '' %>>Manouba, Tunisie</option>
<option value="Medenine, Tunisie" <%= data.State === 'Medenine, Tunisie' ? 'selected' : '' %>>Medenine, Tunisie</option>
<option value="Monastir, Tunisie" <%= data.State === 'Monastir, Tunisie' ? 'selected' : '' %>>Monastir, Tunisie</option>
<option value="Nabeul, Tunisie" <%= data.State === 'Nabeul, Tunisie' ? 'selected' : '' %>>Nabeul, Tunisie</option>
<option value="Sfax, Tunisie" <%= data.State === 'Sfax, Tunisie' ? 'selected' : '' %>>Sfax, Tunisie</option>
<option value="Sidi Bouzid, Tunisie" <%= data.State === 'Sidi Bouzid, Tunisie' ? 'selected' : '' %>>Sidi Bouzid, Tunisie</option>
<option value="Siliana, Tunisie" <%= data.State === 'Siliana, Tunisie' ? 'selected' : '' %>>Siliana, Tunisie</option>
<option value="Sousse, Tunisie" <%= data.State === 'Sousse, Tunisie' ? 'selected' : '' %>>Sousse, Tunisie</option>
<option value="Tataouine, Tunisie" <%= data.State === 'Tataouine, Tunisie' ? 'selected' : '' %>>Tataouine, Tunisie</option>
<option value="Tozeur, Tunisie" <%= data.State === 'Tozeur, Tunisie' ? 'selected' : '' %>>Tozeur, Tunisie</option>
<option value="Tunis, Tunisie" <%= data.State === 'Tunis, Tunisie' ? 'selected' : '' %>>Tunis, Tunisie</option>
<option value="Zaghouan, Tunisie" <%= data.State === 'Zaghouan, Tunisie' ? 'selected' : '' %>>Zaghouan, Tunisie</option>