<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <%-include('./common/head') %>
    <title>Upload Excel File</title>
  

 <style>
 .input-wrapper {
    display: flex;
    gap: 8px; /* Adjust spacing as needed */
}

/* Optional: Style the upload button */
.btn-primary {
    width: 250px;
    height: 35px;
}

</style>
</head>
<body>
    <div class="custom-container">
        <%-include('./common/sidebar') %>
         <div class="main-content">
            <%-include('./common/navbar') %>
          <main >
            <div class="my-custom-class">
             <hr>
           <!--  <strong class="mt-5">Upload Excel File</strong>
 -->
            <form class="mt-3" id="uploadForm" action="/files/upload" method="post" enctype="multipart/form-data">
                <div class="form-group col-md-6">
                  <label for="file">
                    <i class="fa fa-file"></i> <strong> Choose Excel File: </strong>
                  </label>
                  <div class="input-wrapper">
                    <input type="file" class="form-control form-control-sm form-control-file" id="file" name="file" required accept=".csv, .xlsx">
                    <button type="button" class="btn btn-primary" id="uploadButton">
                      <i class="fas fa-upload"></i> Upload files
                    </button>
                  </div>
                </div>

                
               
</form>

<%- include('./partial/schemaInfo') %>
<%- include('./partial/u_table_save') %>
<%- include('./partial/fadeError') %>

           
            </div>      
          </main>  
        </div>
    </div>

    <!-- Modal for Error Message -->
   
    <%-include('./common/scripts')%>
               

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
  

    <script>
        document.getElementById('uploadButton').addEventListener('click', function() {
          const fileInput = document.getElementById('file');
          const file = fileInput.files[0];
      
          if (!file) {
            showModal('noFileSelectedModal');
          } else if (!['csv', 'xlsx'].includes(file.name.split('.').pop().toLowerCase())) {
            showModal('invalidFileModal');
          } else {
            document.getElementById('uploadForm').submit();
          }
        });
      
        function showModal(modalId) {
          const modal = document.getElementById(modalId);
          modal.style.display = 'block';
          modal.classList.add('show');
      
          const closeBtn = document.getElementById(`${modalId}Close`);
          const closeModalBtn = document.getElementById(`${modalId}CloseBtn`);
      
          closeBtn.addEventListener('click', () => {
            hideModal(modalId);
          });
      
          closeModalBtn.addEventListener('click', () => {
            hideModal(modalId);
          });
      
          window.addEventListener('click', (event) => {
            if (event.target == modal) {
              hideModal(modalId);
            }
          });
        }
      
        function hideModal(modalId) {
          const modal = document.getElementById(modalId);
          modal.style.display = 'none';
          modal.classList.remove('show');
        }
      </script>
          <%-include('./common/footer') %>
</body>

</html>
