<!DOCTYPE html>
<html lang="en">
<head> 0
 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Settings : my profiles </title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/dashboard.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!-- Your other CSS files -->
        <style>
            /* Set a fixed height for the card */
            .custom-card {
                height: 420px; 
                Width : 30%;/* Adjust the height as needed */
                overflow-y: auto; /* Add scrollbar if content exceeds height */
            }
        </style>
    </head>
    
</head>
<body>
    <div class="container">
                     
        <%-include('./common/sidebar') %>

        
        <div class="main-content">
         
            <%-include('./common/navbar') %>
          <h3 style="text-align: center; color: black;" ><strong > Profiles</strong></h3>  
            <div id="flash-message">    
                <% if (messages && messages.error) { %>
                  <div  id="flash-message2" class="alert alert-danger"><%= messages.error %></div>
                <% } %>
                
                <% if (messages && messages.success) { %>
                  <div id="flash-message1" class="alert alert-success"><%= messages.success %></div>
                <% } %>
                <% if (messages && messages.info) { %>
                  <div id="flash-message3" class="alert alert-warning"><%= messages.info %></div>
                <% } %>
            </div>
       
            <div class="container">
            
                <% if (userData) { %>
                   
                    <div class="card custom-card">
                        <div class="card-body">
                        <i>    <h5 class="card-title" style="text-align: center;"><strong>User Information</strong></h5>
                            <p  style="font-size: large;"><strong>ID:</strong> <em style="color: rgb(82, 2, 71);"> <%= userData.id %></em> </p>
                            <p  style="font-size: large;"><strong>Last Name:</strong><em style="color: green;"> <%= userData.NOM %></em></p>
                            <p  style="font-size: large;"><strong>First Name:</strong><em style="color: green;"><%= userData.PRENOM %></em> </p>
                            <p  style="font-size: large;"><strong>Email:</strong> <em style="color:green;"><%= userData.EMAIL %></em></p>
                            <p  style="font-size: large;"><strong>Status:</strong><em style="color: black"><%= userData.role %></em> </p>
                            <p  style="font-size: large;"><strong>Is Validated:</strong><em style="color: red;"><%= userData.ISVALIDATED ? 'Yes' : 'No' %></em> </p>
                            <p  style="font-size: large;"><strong>created At :</strong><em style="color:blue"><%= userData.createdAt.toLocaleString('fr-FR', { month: 'long', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' }) %></em> </p>
                            <p  style="font-size: large;"><strong>updated At :</strong><em style="color: blue;"><%= userData.updatedAt.toLocaleString('fr-FR', { month: 'long', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' })%></em> </p> 
                        </i>  <!-- Add more fields as needed -->
                        </div>
                    </div>
             
                    <div class="container-fluid">
                        <form id="userEditForm" action="/settings/updateUserData" method="POST">
                            <div class="form-data">
                                <div class="form-group">
                                    <label for="email"><strong>Email:</strong></label>
                                    <input type="email" class="form-control" id="email" name="EMAIL" value="<%= userData.EMAIL %>" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="nom"><strong>Last Name:</strong></label>
                                    <input type="text" class="form-control" id="nom" name="NOM" value="<%= userData.NOM %>">
                                </div>
                                <div class="form-group">
                                    <label for="prenom"><strong>First Name:</strong></label>
                                    <input type="text" class="form-control" id="prenom" name="PRENOM" value="<%= userData.PRENOM %>">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4"><strong>New Password:</strong></label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="Password" name="PASSWORD" placeholder="Password" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary reveal-password" type="button">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4"><strong>Repeat new Password:</strong></label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="Password2" name="PASSWORD2" placeholder="Repeate Password" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary reveal-password" type="button">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Update Profiles</button>
                            </div>
                        </form>
                    </div>
                    

  <% } %>
            </div>
            
    </div>

    </div>
    <!-- Scripts -->
    <script src="../public/js/script.js"></script>
    <!-- Include Bootstrap JS -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
   setTimeout(function() {
        var flashMessage = document.getElementById('flash-message1');
        if (flashMessage) {
          flashMessage.style.display = 'none';
        }
      }, 5500);

      setTimeout(function() {
        var flashMessage = document.getElementById('flash-message2');
        if (flashMessage) {
          flashMessage.style.display = 'none';
        }
      }, 5000);

      setTimeout(function() {
        var flashMessage = document.getElementById('flash-message3');
        if (flashMessage) {
          flashMessage.style.display = 'none';
        }
      }, 10000);


      $(document).ready(function() {
    // Function to toggle password visibility
    $('.reveal-password').click(function() {
        var $passwordField = $(this).closest('.input-group').find('input');
        var fieldType = $passwordField.attr('type');
        
        if (fieldType === 'password') {
            $passwordField.attr('type', 'text');
        } else {
            $passwordField.attr('type', 'password');
        }
    });
});

 </script> 

</body>
</html>
