<title>Settings : my profiles </title>
<%-include('./common/head') %>
<!-- Your other CSS files -->
<style>
   .mycontainer {
   display: inline-block;
   flex-direction: column; /* Arrange items vertically */
   align-items: flex-start; /* Align items to the start of the cross axis */
   top: 0;
   }
   .card {
   right: 0;
   width: 250px;
   height: fit-content;
   min-width: 30%;
   min-height: fit-content;
   margin : 15px; ;
   background-color: beige;
   /* Add margin for spacing between card and container */
   }
   .container {
   min-height: 30%;
   min-width: 30%;
   width: 65%;/* Adjusted width */
   }
</style>
</head>
</head>
<body>
   <script> 
      setInterval(() => {
          fetch('/check-update')
          .then(response => response.json())
          .then(data => {
              console.log(data);
              // Compare data and update session if necessary
              if (data) {
                  <% if (userData) { %>
                  // Update userData object with the received data
                  <% Object.keys(userData).forEach(key => { %>
                      userData[<%= key %>] = data[<%= key %>];
                  <% }) %>
                  <% } %>
              } 
          })
          .catch(error => console.error('Error checking for updates:', error));
      }, 5000); // Check every 5 seconds (adjust as needed)
   </script>
   <div class="custom-container">
   <%-include('./common/sidebar') %>
   <div class="main-content">
      <%-include('./common/navbar') %>
      <div >
         <% if (userData) { %>
         <div class="card custom-card mycontainer" >
            <div class="card-header">
               <button class="btn btn-success btn-block "disabled><strong>User Information</strong></button>
            </div>
            <div class="card-body">
               <hr width="100%" size="5">
               <p ><strong>ID :</strong> <strong><%= userData.UUID.toUpperCase() %></strong></p>
               <p ><strong>FIRST NAME :</strong><strong class="text-uppercase "  style="color: green;">  <%= userData.NOM %></strong></p>
               <p ><strong>LAST NAME :</strong><strong class="text-uppercase " style="color: green;">  <%= userData.PRENOM %></strong> </p>
               <p ><strong>EMAIL ADDRESS :</strong> <strong class="text-uppercase " style="color:green;">  <%= userData.EMAIL %></strong></p>
               <p ><strong>DEPARTMENT :</strong><strong style="color: black">  <%= userData.DEPARTEMENT %></strong> </p>
               <p ><strong>ADDRESS :</strong><strong style="color: black">  <%= userData.ADDRESS %></strong> </p>
               <p ><strong>BIRTHDAY DATE :</strong><strong style="color: black">
                  <% if (userData.DATE) { %>
                  <%= userData.DATE.toLocaleString('fr-FR', { month: 'long', day: '2-digit', year: 'numeric' }) %>
                  <% } else { %>
                  NA
                  <% } %>
                  </strong>
               </p>
               <hr width="100%" size="5">
               <p ><strong>ACCOUNT TYPE :</strong><strong style="color: rgb(208, 39, 30)">  <%= userData.role %></strong> </p>
               <p ><strong>VALIDITY :</strong><strong style="color: red;">  <%= userData.ISVALIDATED ? 'Yes' : 'No' %></strong> </p>
               <p ><strong>CREATED :</strong><strong style="color:blue">  <%= userData.createdAt.toLocaleString('fr-FR', { month: 'long', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' }) %></strong> </p>
               <p ><strong>UPDATED :</strong><strong style="color: blue;">  <%= userData.updatedAt.toLocaleString('fr-FR', { month: 'long', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' })%></strong> </p>
               <!-- Add more fields as needed -->
            </div>
         </div>
         <div class="container mycontainer">
            <div id="flash-message" class="text-center fw-bold fst-italic ">
               <% if (messages && messages.error) { %>
               <div id="flash-message2" class="alert alert-danger"><%= messages.error %></div>
               <% } %>
               <% if (messages && messages.success) { %>
               <div id="flash-message1" class="alert alert-success "><%= messages.success %></div>
               <% } %>
               <% if (messages && messages.info) { %>
               <div id="flash-message3" class="alert alert-warning"><%= messages.info %></div>
               <% } %>
            </div>
            <button class="btn btn-dark btn-block" disabled><strong>Edit Information</strong></button>
            <form id="userEditForm" action="/settings/updateUserData" method="POST">
               <div class="form-data" >
                  <div class="form-row " >
                     <div class="form-group col-md-6">
                        <label for="UIID"><strong>ID:</strong></label>
                        <input type="UUID" class="form-control  form-control-sm" id="UUID" name="UUID" value="<%= userData.UUID.toUpperCase() %>" readonly >
                     </div>
                     <div class="form-group col-md-6">
                        <label for="email"><strong>Email:</strong></label>
                        <input type="email" class="form-control  form-control-sm " id="email" name="EMAIL" value="<%= userData.EMAIL %>" readonly>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="form-group col-md-6">
                        <label for="nom"><strong> Name:</strong></label>
                        <input type="text" class="form-control  form-control-sm" id="nom" name="NOM" value="<%= userData.NOM %>">
                     </div>
                     <div class="form-group col-md-6">
                        <label for="prenom"><strong>Last Name:</strong></label>
                        <input type="text" class="form-control  form-control-sm" id="prenom" name="PRENOM" value="<%= userData.PRENOM %>">
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="form-group col-md-6">
                        <label for="DEPARTEMENT"><strong>Department:</strong></label>
                        <select class="form-control  form-control-sm" id="DEPARTEMENT" name="DEPARTEMENT" value="<%= userData.DEPARTEMENT %>">
                           <!-- Default empty option -->
                           <option value="">---Select Department---</option>
                           <!-- Add options for departments here -->
                           <option value="department1">Department 1</option>
                           <option value="department2">Department 2</option>
                           <!-- Add more options as needed -->
                        </select>
                     </div>
                     <div class="form-group col-md-6">
                        <label for="ADDRESS"><strong>Address:</strong></label>
                        <select class="form-control  form-control-sm" id="ADDRESS" name="ADDRESS">
                           <option value="">Select a town</option>
                           <option value="Ariana, Tunisie" <%= userData.ADDRESS === 'Ariana, Tunisie' ? 'selected' : '' %>>Ariana, Tunisie</option>
                           <option value="Béja, Tunisie" <%= userData.ADDRESS === "Béja, Tunisie" ? 'selected' : '' %>>Béja, Tunisie</option>
                           <option value="Ben Arous, Tunisie" <%= userData.ADDRESS === 'Ben Arous, Tunisie' ? 'selected' : '' %>>Ben Arous, Tunisie</option>
                           <option value="Bizerte, Tunisie" <%= userData.ADDRESS === 'Bizerte, Tunisie' ? 'selected' : '' %>>Bizerte, Tunisie</option>
                           <option value="Gabès, Tunisie" <%= userData.ADDRESS === 'Gabès, Tunisie' ? 'selected' : '' %>>Gabès, Tunisie</option>
                           <option value="Gafsa, Tunisie" <%= userData.ADDRESS === 'Gafsa, Tunisie' ? 'selected' : '' %>>Gafsa, Tunisie</option>
                           <option value="Jendouba, Tunisie" <%= userData.ADDRESS === 'Jendouba, Tunisie' ? 'selected' : '' %>>Jendouba, Tunisie</option>
                           <option value="Kairouan, Tunisie" <%= userData.ADDRESS === 'Kairouan, Tunisie' ? 'selected' : '' %>>Kairouan, Tunisie</option>
                           <option value="Kasserine, Tunisie" <%= userData.ADDRESS === 'Kasserine, Tunisie' ? 'selected' : '' %>>Kasserine, Tunisie</option>
                           <option value="Kebili, Tunisie" <%= userData.ADDRESS === 'Kebili, Tunisie' ? 'selected' : '' %>>Kebili, Tunisie</option>
                           <option value="Le Kef, Tunisie" <%= userData.ADDRESS === 'Le Kef, Tunisie' ? 'selected' : '' %>>Le Kef, Tunisie</option>
                           <option value="Mahdia, Tunisie" <%= userData.ADDRESS === 'Mahdia, Tunisie' ? 'selected' : '' %>>Mahdia, Tunisie</option>
                           <option value="Manouba, Tunisie" <%= userData.ADDRESS === 'Manouba, Tunisie' ? 'selected' : '' %>>Manouba, Tunisie</option>
                           <option value="Medenine, Tunisie" <%= userData.ADDRESS === 'Medenine, Tunisie' ? 'selected' : '' %>>Medenine, Tunisie</option>
                           <option value="Monastir, Tunisie" <%= userData.ADDRESS === 'Monastir, Tunisie' ? 'selected' : '' %>>Monastir, Tunisie</option>
                           <option value="Nabeul, Tunisie" <%= userData.ADDRESS === 'Nabeul, Tunisie' ? 'selected' : '' %>>Nabeul, Tunisie</option>
                           <option value="Sfax, Tunisie" <%= userData.ADDRESS === 'Sfax, Tunisie' ? 'selected' : '' %>>Sfax, Tunisie</option>
                           <option value="Sidi Bouzid, Tunisie" <%= userData.ADDRESS === 'Sidi Bouzid, Tunisie' ? 'selected' : '' %>>Sidi Bouzid, Tunisie</option>
                           <option value="Siliana, Tunisie" <%= userData.ADDRESS === 'Siliana, Tunisie' ? 'selected' : '' %>>Siliana, Tunisie</option>
                           <option value="Sousse, Tunisie" <%= userData.ADDRESS === 'Sousse, Tunisie' ? 'selected' : '' %>>Sousse, Tunisie</option>
                           <option value="Tataouine, Tunisie" <%= userData.ADDRESS === 'Tataouine, Tunisie' ? 'selected' : '' %>>Tataouine, Tunisie</option>
                           <option value="Tozeur, Tunisie" <%= userData.ADDRESS === 'Tozeur, Tunisie' ? 'selected' : '' %>>Tozeur, Tunisie</option>
                           <option value="Tunis, Tunisie" <%= userData.ADDRESS === 'Tunis, Tunisie' ? 'selected' : '' %>>Tunis, Tunisie</option>
                           <option value="Zaghouan, Tunisie" <%= userData.ADDRESS === 'Zaghouan, Tunisie' ? 'selected' : '' %>>Zaghouan, Tunisie</option>
                        </select>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="form-group col-md-6">
                        <label for="DATE"><strong>Date of Birth:</strong></label>
                        <input type="date" class="form-control   " id="DATE" name="DATE" >
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="form-group col-md-6" >
                        <label for="inputPassword4"><strong>New Password:</strong></label>
                        <div class="input-group">
                           <input type="password" class="form-control " id="Password" name="PASSWORD"  style="background-color:beige;" placeholder="Password" required>
                           <div class="input-group-append">
                              <button class="btn btn-outline-secondary reveal-password" type="button">
                              <i class="fa fa-eye"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                     <div class="form-group col-md-6">
                        <label for="inputPassword4"><strong>Repeat new Password:</strong></label>
                        <div class="input-group">
                           <input type="password" class="form-control" id="Password2" name="PASSWORD2" style="background-color:beige;" placeholder="Repeate Password" required>
                           <div class="input-group-append">
                              <button class="btn btn-outline-secondary reveal-password" type="button">
                              <i class="fa fa-eye"></i>
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">Update Profiles</button>
               </div>
            </form>
         </div>
         <% } %>
      </div>
    <!--   <%-include('./common/footer') %> -->
   </div>
   <hr>
   <script>
      setTimeout(function() {
           var flashMessage = document.getElementById('flash-message1');
           if (flashMessage) {
             flashMessage.style.display = 'none';
           }
         }, 10000);
      
         setTimeout(function() {
           var flashMessage = document.getElementById('flash-message2');
           if (flashMessage) {
             flashMessage.style.display = 'none';
           }
         }, 30000);
      
         setTimeout(function() {
           var flashMessage = document.getElementById('flash-message3');
           if (flashMessage) {
             flashMessage.style.display = 'none';
           }
         }, 20000);
      
      
         $(document).ready(function() {
       // Function to toggle password visibility
       $('.reveal-password').click(function() {
           var $passwordField = $(this).closest('.input-group').find('input');
           var fieldType = $passwordField.attr('type');
           
           if (fieldType === 'password') {
               $passwordField.attr('type', 'text');
           } else {
               $passwordField.attr('type', 'password');
           }
       });
      });
      
   </script> 
</body>