<!DOCTYPE html>
<html lang="en">
<head> 0
 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Settings : my profiles </title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/dashboard.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!-- Your other CSS files -->
        <style>
            /* Set a fixed height for the card */
            .custom-card {
                height: 625px; 
                Width : 50%;/* Adjust the height as needed */
                overflow-y: auto; /* Add scrollbar if content exceeds height */
                
            }
            ::placeholder {
                 color: #ffff01;}
        </style>
    </head>
    
</head>
<body>
    <div class="container">
                     
        <%-include('./common/sidebar') %>

        
        <div class="main-content">
         
            <%-include('./common/navbar') %>
          <!-- <h3 style="text-align: center; color: black;" ><strong > Profiles</strong></h3>   -->
            <div id="flash-message">    
                <% if (messages && messages.error) { %>
                  <div  id="flash-message2" class="alert alert-danger"><%= messages.error %></div>
                <% } %>
                
                <% if (messages && messages.success) { %>
                  <div id="flash-message1" class="alert alert-success"><%= messages.success %></div>
                <% } %>
                <% if (messages && messages.info) { %>
                  <div id="flash-message3" class="alert alert-warning"><%= messages.info %></div>
                <% } %>
            </div>
       
            <div class="container">
            
                <% if (userData) { %>
                   
                    <div class="card custom-card">
                        <div class="card-header"> <!-- Modified to use card-header instead of card-body -->
                            <button class="btn btn-secondary btn-block"><strong>User Information</strong></button> <!-- Added btn-block class to make the button fill the width -->
                        </div>
                        <div class="card-body">
                            
                            <hr width="100%" size="5">
                            
                            <p style="font-size: large;"><strong>ID :</strong> <em style="color: rgb(0, 0, 0);"><strong><%= userData.UUID.toUpperCase() %></strong></em> </p>
                            <p style="font-size: large;"><strong>FIRST NAME :</strong><em style="color: green;"> <%= userData.NOM %></em></p>
                            <p style="font-size: large;"><strong>LAST NAME :</strong><em style="color: green;"><%= userData.PRENOM %></em> </p>
                            <p style="font-size: large;"><strong>EMAIL ADDRESS :</strong> <em style="color:green;"><%= userData.EMAIL %></em></p>
                            <p style="font-size: large;"><strong>DEPARTMENT :</strong><em style="color: black"><%= userData.DEPARTEMENT %></em> </p>
                            <p style="font-size: large;"><strong>ADDRESS :</strong><em style="color: black"><%= userData.ADRESS %></em> </p>
                            <p style="font-size: large;"><strong>BIRTHDAY DATE :</strong><em style="color: black">
                                <% if (userData.DATE) { %>
                                <%= userData.DATE.toLocaleString('fr-FR', { month: 'long', day: '2-digit', year: 'numeric' }) %>
                                <% } else { %>
                                NA
                                <% } %>
                            </em></p>
                            <hr width="100%" size="5">
                            <p style="font-size: large;"><strong>ACCOUNT TYPE :</strong><em style="color: rgb(208, 39, 30)"><%= userData.role %></em> </p>
                            <p style="font-size: large;"><strong>VALIDITY :</strong><em style="color: red;"><%= userData.ISVALIDATED ? 'Yes' : 'No' %></em> </p>
                            <p style="font-size: large;"><strong>CREATED :</strong><em style="color:blue"><%= userData.createdAt.toLocaleString('fr-FR', { month: 'long', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' }) %></em> </p>
                            <p style="font-size: large;"><strong>UPDATED :</strong><em style="color: blue;"><%= userData.updatedAt.toLocaleString('fr-FR', { month: 'long', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' })%></em> </p>
                            <!-- Add more fields as needed -->
                        </div>
                    </div>
                    
             
                    <div class="container-fluid">
                          <br>
                        <button class="btn btn-dark btn-block"><strong>Edit Information</strong></button>
                          <br>
                        <form id="userEditForm" action="/settings/updateUserData" method="POST">
                           
                            <div class="form-data">
                         <div class="form-row">     
                            <div class="form-group col-md-6">
                                    <label for="UIID"><strong>ID:</strong></label>
                                    <input type="UUID" class="form-control" id="UUID" name="UUID" value="<%= userData.UUID.toUpperCase() %>" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email"><strong>Email:</strong></label>
                                    <input type="email" class="form-control" id="email" name="EMAIL" value="<%= userData.EMAIL %>" readonly>
                                </div>
                            </div> 

                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="nom"><strong> Name:</strong></label>
                                <input type="text" class="form-control" id="nom" name="NOM" value="<%= userData.NOM %>">
                              </div>

                              <div class="form-group col-md-6">
                                <label for="prenom"><strong>Last Name:</strong></label>
                                <input type="text" class="form-control" id="prenom" name="PRENOM" value="<%= userData.PRENOM %>">
                            </div>

                            </div>
                                
                                <div class="form-row">
                                    
                                    <div class="form-group col-md-6">
                                        <label for="DEPARTEMENT"><strong>Department:</strong></label>
                                        <select class="form-control" id="DEPARTEMENT" name="DEPARTEMENT" value="<%= userData.DEPARTEMENT %>">
                                            <!-- Default empty option -->
                                            <option value="">Select Department</option>
                                            <!-- Add options for departments here -->
                                            <option value="department1">Department 1</option>
                                            <option value="department2">Department 2</option>
                                            <!-- Add more options as needed -->
                                        </select>
                                    </div>
                                    <!-- <div class="form-group col-md-6">
                                        <label for="ADRESS"><strong>Adress:</strong></label>
                                        <input type="text" class="form-control" id="ADRESS" name="ADRESS" value="">
                                    </div> -->
                                    <div class="form-group col-md-6">
                                        <label for="ADRESS"><strong>Address:</strong></label>
                                        <select class="form-control" id="ADRESS" name="ADRESS">
                                            <option value="">Select a town</option>
                                            <option value="Ariana, Tunisie" <%= userData.ADRESS === 'Ariana, Tunisie' ? 'selected' : '' %>>Ariana, Tunisie</option>
                                            <option value="Béja, Tunisie" <%= userData.ADRESS === "Béja, Tunisie" ? 'selected' : '' %>>Béja, Tunisie</option>
                                            <option value="Ben Arous, Tunisie" <%= userData.ADRESS === 'Ben Arous, Tunisie' ? 'selected' : '' %>>Ben Arous, Tunisie</option>
                                            <option value="Bizerte, Tunisie" <%= userData.ADRESS === 'Bizerte, Tunisie' ? 'selected' : '' %>>Bizerte, Tunisie</option>
                                            <option value="Gabès, Tunisie" <%= userData.ADRESS === 'Gabès, Tunisie' ? 'selected' : '' %>>Gabès, Tunisie</option>
                                            <option value="Gafsa, Tunisie" <%= userData.ADRESS === 'Gafsa, Tunisie' ? 'selected' : '' %>>Gafsa, Tunisie</option>
                                            <option value="Jendouba, Tunisie" <%= userData.ADRESS === 'Jendouba, Tunisie' ? 'selected' : '' %>>Jendouba, Tunisie</option>
                                            <option value="Kairouan, Tunisie" <%= userData.ADRESS === 'Kairouan, Tunisie' ? 'selected' : '' %>>Kairouan, Tunisie</option>
                                            <option value="Kasserine, Tunisie" <%= userData.ADRESS === 'Kasserine, Tunisie' ? 'selected' : '' %>>Kasserine, Tunisie</option>
                                            <option value="Kebili, Tunisie" <%= userData.ADRESS === 'Kebili, Tunisie' ? 'selected' : '' %>>Kebili, Tunisie</option>
                                            <option value="Le Kef, Tunisie" <%= userData.ADRESS === 'Le Kef, Tunisie' ? 'selected' : '' %>>Le Kef, Tunisie</option>
                                            <option value="Mahdia, Tunisie" <%= userData.ADRESS === 'Mahdia, Tunisie' ? 'selected' : '' %>>Mahdia, Tunisie</option>
                                            <option value="Manouba, Tunisie" <%= userData.ADRESS === 'Manouba, Tunisie' ? 'selected' : '' %>>Manouba, Tunisie</option>
                                            <option value="Medenine, Tunisie" <%= userData.ADRESS === 'Medenine, Tunisie' ? 'selected' : '' %>>Medenine, Tunisie</option>
                                            <option value="Monastir, Tunisie" <%= userData.ADRESS === 'Monastir, Tunisie' ? 'selected' : '' %>>Monastir, Tunisie</option>
                                            <option value="Nabeul, Tunisie" <%= userData.ADRESS === 'Nabeul, Tunisie' ? 'selected' : '' %>>Nabeul, Tunisie</option>
                                            <option value="Sfax, Tunisie" <%= userData.ADRESS === 'Sfax, Tunisie' ? 'selected' : '' %>>Sfax, Tunisie</option>
                                            <option value="Sidi Bouzid, Tunisie" <%= userData.ADRESS === 'Sidi Bouzid, Tunisie' ? 'selected' : '' %>>Sidi Bouzid, Tunisie</option>
                                            <option value="Siliana, Tunisie" <%= userData.ADRESS === 'Siliana, Tunisie' ? 'selected' : '' %>>Siliana, Tunisie</option>
                                            <option value="Sousse, Tunisie" <%= userData.ADRESS === 'Sousse, Tunisie' ? 'selected' : '' %>>Sousse, Tunisie</option>
                                            <option value="Tataouine, Tunisie" <%= userData.ADRESS === 'Tataouine, Tunisie' ? 'selected' : '' %>>Tataouine, Tunisie</option>
                                            <option value="Tozeur, Tunisie" <%= userData.ADRESS === 'Tozeur, Tunisie' ? 'selected' : '' %>>Tozeur, Tunisie</option>
                                            <option value="Tunis, Tunisie" <%= userData.ADRESS === 'Tunis, Tunisie' ? 'selected' : '' %>>Tunis, Tunisie</option>
                                            <option value="Zaghouan, Tunisie" <%= userData.ADRESS === 'Zaghouan, Tunisie' ? 'selected' : '' %>>Zaghouan, Tunisie</option>
                                        </select>
                                    </div>
                                    
                                    
                                </div>
                                
                                
                           <div class="form-row">
                                     <div class="form-group col-md-6">
                                    <label for="DATE"><strong>Date of Birth:</strong></label>
                                    <input type="text" class="form-control datepicker" id="DATE" name="DATE" >
                                </div>
                            </div>
                               
                                
                                
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4"><strong>New Password:</strong></label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="Password" name="PASSWORD" placeholder="Password" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary reveal-password" type="button">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4"><strong>Repeat new Password:</strong></label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="Password2" name="PASSWORD2" placeholder="Repeate Password" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary reveal-password" type="button">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Update Profiles</button>
                            </div>
                        </form>
                    </div>
                    
  <% } %>
            </div>
            
    </div>

    </div>
    <!-- Scripts -->
    <script src="../public/js/script.js"></script>
    <!-- Include Bootstrap JS -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <!-- Include Bootstrap datepicker library -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
    // Initialize datepicker
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd' // Set the desired date format
        });
    });

    function formatDate(dateString) {
    const dateObject = new Date(dateString);
    const year = dateObject.getFullYear();
    const month = (dateObject.getMonth() + 1).toString().padStart(2, '0');
    const day = dateObject.getDate().toString().padStart(2, '0');
    return `${year}-${month}-${day}`;
}

</script>
  <script>
   setTimeout(function() {
        var flashMessage = document.getElementById('flash-message1');
        if (flashMessage) {
          flashMessage.style.display = 'none';
        }
      }, 5500);

      setTimeout(function() {
        var flashMessage = document.getElementById('flash-message2');
        if (flashMessage) {
          flashMessage.style.display = 'none';
        }
      }, 5000);

      setTimeout(function() {
        var flashMessage = document.getElementById('flash-message3');
        if (flashMessage) {
          flashMessage.style.display = 'none';
        }
      }, 10000);


      $(document).ready(function() {
    // Function to toggle password visibility
    $('.reveal-password').click(function() {
        var $passwordField = $(this).closest('.input-group').find('input');
        var fieldType = $passwordField.attr('type');
        
        if (fieldType === 'password') {
            $passwordField.attr('type', 'text');
        } else {
            $passwordField.attr('type', 'password');
        }
    });
});

 </script> 

</body>
</html>
