<!-- Add New Record Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content  my-color">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel"> NEW  <%= tableName.toUpperCase() %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

         
          
          <!-- Form for adding new record -->
  <form action="/gestion/<%= tableName %>/add" method="POST">

    <% if (data.length > 0) { %>
      <% Object.keys(data[0]).forEach(key => { %>
        <% if (key !== 'createdAt' && key !== 'updatedAt' && key !== 'id' && key!=='ID') { %>
          <div class="form-group">
            <label for="<%= key %>"><%= key %></label>
            <% if (key === 'DATE') { %>
              <input type="date" class="form-control  my-color" id="<%= key %>" name="<%= key %>" required>
            <% } else if (key === 'role') { %>
              <select class="form-control  my-color" id="<%= key %>" name="<%= key %>" required>
                <option value="USER">USER</option>
                <option value="ADMIN">ADMIN</option>
              </select>
            <% } else if (key === 'ISVALIDATED') { %>
              <select class="form-control  my-color" id="<%= key %>" name="<%= key %>" required>
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
              <% } else if (key === 'SEXE') { %>
                <select class="form-control  my-color" id="<%= key %>" name="<%= key %>" required>
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>
            <% } else if (key === 'ADDRESS') { %>
              <select class="form-control  my-color" id="<%= key %>" name="<%= key %>" required>
                <option value="Tunis, Tunisie">Tunis, Tunisie</option>
                <option value="Ariana, Tunisie">Ariana, Tunisie</option>
                <option value="Ben Arous, Tunisie">Ben Arous, Tunisie</option>
                <option value="Manouba, Tunisie">Manouba, Tunisie</option>
                <option value="Nabeul, Tunisie">Nabeul, Tunisie</option>
                <option value="Zaghouan, Tunisie">Zaghouan, Tunisie</option>
                <option value="Bizerte, Tunisie">Bizerte, Tunisie</option>
                <option value="Béja, Tunisie">Béja, Tunisie</option>
                <option value="Jendouba, Tunisie">Jendouba, Tunisie</option>
                <option value="Kef, Tunisie">Kef, Tunisie</option>
                <option value="Siliana, Tunisie">Siliana, Tunisie</option>
                <option value="Kairouan, Tunisie">Kairouan, Tunisie</option>
                <option value="Kasserine, Tunisie">Kasserine, Tunisie</option>
                <option value="Sidi Bouzid, Tunisie">Sidi Bouzid, Tunisie</option>
                <option value="Sousse, Tunisie">Sousse, Tunisie</option>
                <option value="Monastir, Tunisie">Monastir, Tunisie</option>
                <option value="Mahdia, Tunisie">Mahdia, Tunisie</option>
                <option value="Sfax, Tunisie">Sfax, Tunisie</option>
                <option value="Gafsa, Tunisie">Gafsa, Tunisie</option>
                <option value="Tozeur, Tunisie">Tozeur, Tunisie</option>
                <option value="Kebili, Tunisie">Kebili, Tunisie</option>
                <option value="Gabès, Tunisie">Gabès, Tunisie</option>
                <option value="Medenine, Tunisie">Medenine, Tunisie</option>
                <option value="Tataouine, Tunisie">Tataouine, Tunisie</option>
              </select>
            <% } else { %>
              <input type="text" class="form-control  my-color" id="<%= key %>" name="<%= key %>" required>
            <% } %>
          </div>
        <% } %>
      <% }); %>
    <% } else { %>
      <p>
        <div class="form-group">
          <label for="EMAIL">Email</label>
          <input type="email" class="form-control my-color" id="EMAIL" name="EMAIL" required>
         
          <label for="NOM">Nom</label>
          <input type="text" class="form-control my-color" id="NOM" name="NOM" required>
         
          <label for="PRENOM">Prénom</label>
          <input type="text" class="form-control my-color" id="PRENOM" name="PRENOM" required>
         
          <label for="DEPARTEMENT">Département</label>
          <input type="text" class="form-control my-color" id="DEPARTEMENT" name="DEPARTEMENT" required>
         
          <label for="DATE">Date</label>
          <input type="date" class="form-control my-color" id="DATE" name="DATE" required>
         
          <label for="role">Rôle</label>
          <select class="form-control my-color" id="role" name="ROLE" required>
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
          </select>
         
          <label for="status">Statut</label>
          <select class="form-control my-color" id="status" name="STATUS" required>
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
         
          <label for="SEXE">Sexe</label>
          <select class="form-control my-color" id="SEXE" name="SEXE" required>
            <option value="M">M</option>
            <option value="F">F</option>
          </select>
         
          <label for="ADDRESS">Adresse</label>
          <select class="form-control my-color" id="ADDRESS" name="ADDRESS" required>
            <option value="Tunis, Tunisie">Tunis, Tunisie</option>
            <option value="Ariana, Tunisie">Ariana, Tunisie</option>
            <option value="Ben Arous, Tunisie">Ben Arous, Tunisie</option>
            <option value="Manouba, Tunisie">Manouba, Tunisie</option>
            <option value="Nabeul, Tunisie">Nabeul, Tunisie</option>
            <option value="Zaghouan, Tunisie">Zaghouan, Tunisie</option>
            <option value="Bizerte, Tunisie">Bizerte, Tunisie</option>
            <option value="Béja, Tunisie">Béja, Tunisie</option>
            <option value="Jendouba, Tunisie">Jendouba, Tunisie</option>
            <option value="Kef, Tunisie">Kef, Tunisie</option>
            <option value="Siliana, Tunisie">Siliana, Tunisie</option>
            <option value="Kairouan, Tunisie">Kairouan, Tunisie</option>
            <option value="Kasserine, Tunisie">Kasserine, Tunisie</option>
            <option value="Sidi Bouzid, Tunisie">Sidi Bouzid, Tunisie</option>
            <option value="Sousse, Tunisie">Sousse, Tunisie</option>
            <option value="Monastir, Tunisie">Monastir, Tunisie</option>
            <option value="Mahdia, Tunisie">Mahdia, Tunisie</option>
            <option value="Sfax, Tunisie">Sfax, Tunisie</option>
            <option value="Gafsa, Tunisie">Gafsa, Tunisie</option>
            <option value="Tozeur, Tunisie">Tozeur, Tunisie</option>
            <option value="Kebili, Tunisie">Kebili, Tunisie</option>
            <option value="Gabès, Tunisie">Gabès, Tunisie</option>
            <option value="Medenine, Tunisie">Medenine, Tunisie</option>
            <option value="Tataouine, Tunisie">Tataouine, Tunisie</option>
          </select>
         </div>
      

      </p>
    <% } %>
    
    

    <button type="submit" class="btn btn-primary float-right">Add <%= tableName %></button>
  </form>
  
        </div>
      </div>
    </div>
  </div>
                         <!--  modal for edit -->
  
  <% data.forEach(row => { %>
    <div class="modal fade" id="editModal<%= row.EMAIL %>" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content  my-color">
          <div class="modal-header">
            <h5  class="modal-title" id="editModalLabel"> Edit <%= tableName %> :  </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/gestion/<%= tableName %>/update/<%= row.EMAIL %>" method="POST"> 
               
              <% Object.keys(data[0]).forEach(key => { %>
                <% if (key !== 'createdAt' && key !== 'updatedAt' && key!=='ID') { %>
                    <div class="form-group  my-color">
                        <label for="<%= key %>"><%= key %></label>
                        <% if (key === 'ISVALIDATED') { %>
                            <select class="form-control  my-color" id="<%= key %>" name="<%= key %>">
                                <option value="0" <% if (row[key] == 0) { %> selected <% } %>>0</option>
                                <option value="1" <% if (row[key] == 1) { %> selected <% } %>>1</option>
                            </select>
                        <% } else if (key === 'role') { %>
                            <select class="form-control  my-color" id="<%= key %>" name="<%= key %>">
                                <option value="USER" <% if (row[key] === 'USER') { %> selected <% } %>>USER</option>
                                <option value="ADMIN" <% if (row[key] === 'ADMIN') { %> selected <% } %>>ADMIN</option>
                                
                            </select>
                        <% } else if (key === 'SEXE') { %>
                              <select class="form-control  my-color" id="<%= key %>" name="<%= key %>" >
                                <option value="M" <% if (row[key] === 'M') { %> selected <% } %>>M</option>
                                <option value="F" <% if (row[key] === 'F') { %> selected <% } %>>F</option>
                              </select>
                        <% } else if (key === 'ADDRESS') { %>
                            <select class="form-control  my-color" id="<%= key %>" name="<%= key %>">
                                <% const addressOptions = ['Tunis, Tunisie', 'Ariana, Tunisie', 'Ben Arous, Tunisie', 'Manouba, Tunisie', 'Nabeul, Tunisie', 'Zaghouan, Tunisie', 'Bizerte, Tunisie', 'Béja, Tunisie', 'Jendouba, Tunisie', 'Kef, Tunisie', 'Siliana, Tunisie', 'Kairouan, Tunisie', 'Kasserine, Tunisie', 'Sidi Bouzid, Tunisie', 'Sousse, Tunisie', 'Monastir, Tunisie', 'Mahdia, Tunisie', 'Sfax, Tunisie', 'Gafsa, Tunisie', 'Tozeur, Tunisie', 'Kebili, Tunisie', 'Gabès, Tunisie', 'Medenine, Tunisie', 'Tataouine, Tunisie']; %>
                                <% addressOptions.forEach(option => { %>
                                    <% if (row[key] === option) { %>
                                        <option value="<%= option %>" selected><%= option %></option>
                                    <% } else { %>
                                        <option value="<%= option %>"><%= option %></option>
                                    <% } %>
                                <% }); %>
                            </select>
                        <% } else if (key === 'DATE') { %>
                            <input type="date" class="form-control  my-color" id="<%= key %>" name="<%= key %>" value="<%= row[key] %>">
                        <% } else { %>
                            <% if (key === 'EMAIL' || key === 'id') { %>
                                <input type="text" class="form-control  my-color" id="<%= key %>" name="<%= key %>" value="<%= row[key] %>" readonly>
                            <% } else { %>
                                <input type="text" class="form-control  my-color" id="<%= key %>" name="<%= key %>" value="<%= row[key] %>">
                            <% } %>
                        <% } %>
                    </div>
                <% } %>
            <% }); %>
            
            

              <button type="button" class="btn btn-danger float-left" data-dismiss="modal">Annuler </button>
              <button type="submit" class="btn btn-primary float-right">Save Changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <% }); %>
  
    